


<div class = "Login">
@if(@ViewBag.segundoIntento){
     <h3 style="color: red">@ViewBag.msgError</h3>
}
<h1>Iniciar sesión</h1>
<form action='@Url.Action("Login", "Account")' method = "POST" enctype="multipart/form-data">

    <label>Usuario:</label>
    <input type="text" name = "username" required>
    
    <label>Contraseña:</label>
    <input type="password" name = "contraseña" required minlength="8">
    
    <input type ="submit" value = "Entrar">
</form>
</div>
