


<div class = "Login">
@if(@ViewBag.segundoIntento){
     <h3 style="color: red">El usuario o la contrase침a eran incorrectos. Intente nuevamente</h3>
}
<h1>Iniciar sesi칩n</h1>
<form action='@Url.Action("Login", "Account")' method = "POST" enctype="multipart/form-data">

    <label>Usuario:</label>
    <input type="text" name = "username" required>
    
    <label>Contrase침a:</label>
    <input type="password" name = "contrase침a" required minlength="8">
    
    <input type ="submit" value = "Entrar">
    
</form>
</div>
