
 <main class = "InicioSesion">
      
     <div class = "login">
        <h1>Hola otra vez!</h1>
        <h2>Login</h2>
        @if(@ViewBag.segundoIntento){
     <h3 style="color: red">@ViewBag.msgError</h3>
}
      <img src="Imagenes/Canva/InicioSesion.png" alt="">
    <form action='@Url.Action("Login", "Account")' method = "POST" enctype="multipart/form-data">

    <label>Usuario:</label>
    <input type="text" name = "username" required>
    
    <label>Contraseña:</label>
    <input type="password" name = "contraseña" required minlength="8">
    
    <input type ="submit" value = "Entrar">
    
    </form>

     </div>   
    </main>
