USE [master]
GO
/****** Object:  Database [Thera]    Script Date: 30/10/2025 11:57:34 ******/
CREATE DATABASE [Thera]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Thera', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Thera.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Thera_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Thera_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Thera].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Thera]
GO
/****** Object:  User [alumno]    Script Date: 30/10/2025 11:57:34 ******/
CREATE USER [alumno] FOR LOGIN [alumno] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Audios]    Script Date: 30/10/2025 11:57:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Audios](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[Ruta] [varchar](100) NOT NULL,
	[Duración] [int] NOT NULL,
 CONSTRAINT [PK_Audios] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AudiosXPaciente]    Script Date: 30/10/2025 11:57:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AudiosXPaciente](
	[idPaciente] [int] NOT NULL,
	[idAudio] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Chat]    Script Date: 30/10/2025 11:57:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Chat](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdTerapeuta] [int] NOT NULL,
	[IdPaciente] [int] NOT NULL,
	[Cerrado] [bit] NOT NULL,
 CONSTRAINT [PK_Chat] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DisparadorasNotas]    Script Date: 30/10/2025 11:57:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DisparadorasNotas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Pregunta] [varchar](100) NOT NULL,
 CONSTRAINT [PK_DisparadorasNotas] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Especialidad]    Script Date: 30/10/2025 11:57:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Especialidad](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Especialidad] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EspecialidadXTerapeuta]    Script Date: 30/10/2025 11:57:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EspecialidadXTerapeuta](
	[IdTerapeuta] [int] NOT NULL,
	[IdEspecialidad] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Frases]    Script Date: 30/10/2025 11:57:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Frases](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Frase] [varchar](100) NOT NULL,
	[Autor] [varchar](100) NOT NULL,
	[Categoría] [varchar](100) NOT NULL,
 CONSTRAINT [PK_Frases] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FrasesFavPacientes]    Script Date: 30/10/2025 11:57:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FrasesFavPacientes](
	[IdPaciente] [int] NOT NULL,
	[IdFrase] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FrasesFavTerapeuta]    Script Date: 30/10/2025 11:57:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FrasesFavTerapeuta](
	[IdTerapeuta] [int] NOT NULL,
	[IdFrase] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Mensaje]    Script Date: 30/10/2025 11:57:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mensaje](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdChat] [int] NOT NULL,
	[IdTerapeuta] [int] NULL,
	[IdPaciente] [int] NULL,
	[Mensaje] [varchar](100) NOT NULL,
	[Hora] [datetime] NOT NULL,
 CONSTRAINT [PK_Mensaje] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notas]    Script Date: 30/10/2025 11:57:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdPaciente] [int] NOT NULL,
	[IdDisparadora] [int] NOT NULL,
	[Titulo] [varchar](75) NULL,
	[Descripción] [varchar](1000) NULL,
	[Fecha] [date] NOT NULL,
	[Favorito] [bit] NOT NULL,
	[VisibleParaTerapeuta] [bit] NOT NULL,
 CONSTRAINT [PK_Notas] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Obra Social]    Script Date: 30/10/2025 11:57:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Obra Social](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](75) NOT NULL,
 CONSTRAINT [PK_Obra Social] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ObraSocialXTerapeuta]    Script Date: 30/10/2025 11:57:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ObraSocialXTerapeuta](
	[IdTerapeuta] [int] NOT NULL,
	[IdObraSocial] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Paciente]    Script Date: 30/10/2025 11:57:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Paciente](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdTerapeuta] [int] NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Apellido] [varchar](50) NOT NULL,
	[FechaNacimiento] [date] NOT NULL,
	[Telefono] [int] NULL,
	[Ocupacion] [varchar](150) NULL,
	[InicioTratamiento] [date] NULL,
	[HorariosSesiones] [int] NULL,
	[RasgosPersonalidad] [varchar](1000) NULL,
	[ModoVincularse] [varchar](1000) NULL,
	[EvaluacionGeneral] [varchar](1000) NULL,
	[Observaciones] [varchar](1000) NULL,
	[Correo] [varchar](100) NOT NULL,
	[Foto] [varchar](100) NOT NULL,
 CONSTRAINT [PK_Paciente] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Resenas]    Script Date: 30/10/2025 11:57:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Resenas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdTerapeuta] [int] NOT NULL,
	[IdPaciente] [int] NOT NULL,
	[Titulo] [varchar](100) NULL,
	[Contenido] [varchar](500) NULL,
	[Rating] [float] NULL,
 CONSTRAINT [PK_Resenas] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sesión]    Script Date: 30/10/2025 11:57:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sesión](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdTerapeuta] [int] NOT NULL,
	[IdPaciente] [int] NOT NULL,
	[Anotaciones] [varchar](1000) NOT NULL,
	[Tarea] [varchar](200) NOT NULL,
	[RespuestaPaciente] [varchar](500) NOT NULL,
	[Fecha] [date] NOT NULL,
	[Modalidad] [int] NOT NULL,
 CONSTRAINT [PK_Sesión] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Terapeuta]    Script Date: 30/10/2025 11:57:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Terapeuta](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Apellido] [varchar](50) NOT NULL,
	[FechaNacimiento] [date] NOT NULL,
	[Rating] [float] NULL,
	[Descripcion] [varchar](1000) NULL,
	[Telefono] [int] NULL,
	[Correo] [varchar](100) NOT NULL,
	[Foto] [varchar](100) NOT NULL,
	[FotoTitulo] [varchar](100) NOT NULL,
 CONSTRAINT [PK_Terapeuta] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 30/10/2025 11:57:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](50) NOT NULL,
	[Contrasena] [varchar](50) NOT NULL,
	[TipoUsuario] [bit] NOT NULL,
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Audios] ON 

INSERT [dbo].[Audios] ([Id], [Nombre], [Ruta], [Duración]) VALUES (1, N'Just Relax', N'just-relax.mp3', 160)
INSERT [dbo].[Audios] ([Id], [Nombre], [Ruta], [Duración]) VALUES (2, N'Nature', N'nature.mp3', 108)
INSERT [dbo].[Audios] ([Id], [Nombre], [Ruta], [Duración]) VALUES (3, N'Rainy Piano', N'rainy-piano.mp3', 605)
SET IDENTITY_INSERT [dbo].[Audios] OFF
GO
INSERT [dbo].[AudiosXPaciente] ([idPaciente], [idAudio]) VALUES (1, 1)
INSERT [dbo].[AudiosXPaciente] ([idPaciente], [idAudio]) VALUES (2, 2)
INSERT [dbo].[AudiosXPaciente] ([idPaciente], [idAudio]) VALUES (3, 3)
GO
SET IDENTITY_INSERT [dbo].[Chat] ON 

INSERT [dbo].[Chat] ([Id], [IdTerapeuta], [IdPaciente], [Cerrado]) VALUES (1, 1, 1, 0)
INSERT [dbo].[Chat] ([Id], [IdTerapeuta], [IdPaciente], [Cerrado]) VALUES (2, 1, 2, 0)
INSERT [dbo].[Chat] ([Id], [IdTerapeuta], [IdPaciente], [Cerrado]) VALUES (3, 1, 3, 0)
SET IDENTITY_INSERT [dbo].[Chat] OFF
GO
SET IDENTITY_INSERT [dbo].[DisparadorasNotas] ON 

INSERT [dbo].[DisparadorasNotas] ([Id], [Pregunta]) VALUES (1, N'¿Qué sentiste más fuerte hoy?')
INSERT [dbo].[DisparadorasNotas] ([Id], [Pregunta]) VALUES (2, N'¿Qué aprendiste de vos esta semana?')
INSERT [dbo].[DisparadorasNotas] ([Id], [Pregunta]) VALUES (3, N'¿Qué te gustaría soltar?')
SET IDENTITY_INSERT [dbo].[DisparadorasNotas] OFF
GO
SET IDENTITY_INSERT [dbo].[Especialidad] ON 

INSERT [dbo].[Especialidad] ([Id], [Nombre]) VALUES (1, N'Ansiedad')
INSERT [dbo].[Especialidad] ([Id], [Nombre]) VALUES (2, N'Depresión')
INSERT [dbo].[Especialidad] ([Id], [Nombre]) VALUES (3, N'Terapia de Pareja')
SET IDENTITY_INSERT [dbo].[Especialidad] OFF
GO
INSERT [dbo].[EspecialidadXTerapeuta] ([IdTerapeuta], [IdEspecialidad]) VALUES (1, 1)
INSERT [dbo].[EspecialidadXTerapeuta] ([IdTerapeuta], [IdEspecialidad]) VALUES (1, 3)
INSERT [dbo].[EspecialidadXTerapeuta] ([IdTerapeuta], [IdEspecialidad]) VALUES (1, 4)
GO
SET IDENTITY_INSERT [dbo].[Frases] ON 

INSERT [dbo].[Frases] ([Id], [Frase], [Autor], [Categoría]) VALUES (1, N'No tenés que ser perfecta para merecer amor.', N'Desconocido', N'Autoestima')
INSERT [dbo].[Frases] ([Id], [Frase], [Autor], [Categoría]) VALUES (2, N'Aprender a quererte no es egoísmo, es salud.', N'Louise Hay', N'Autoestima')
INSERT [dbo].[Frases] ([Id], [Frase], [Autor], [Categoría]) VALUES (3, N'Tu valor no cambia por los errores que cometas.', N'Brené Brown', N'Autoestima')
SET IDENTITY_INSERT [dbo].[Frases] OFF
GO
INSERT [dbo].[FrasesFavTerapeuta] ([IdTerapeuta], [IdFrase]) VALUES (1, 5)
INSERT [dbo].[FrasesFavTerapeuta] ([IdTerapeuta], [IdFrase]) VALUES (2, 10)
INSERT [dbo].[FrasesFavTerapeuta] ([IdTerapeuta], [IdFrase]) VALUES (3, 22)
GO
SET IDENTITY_INSERT [dbo].[Notas] ON 

INSERT [dbo].[Notas] ([Id], [IdPaciente], [IdDisparadora], [Titulo], [Descripción], [Fecha], [Favorito], [VisibleParaTerapeuta]) VALUES (1, 1, 1, N'Día tranquilo', N'Hoy sentí calma, algo raro en mí. Me hizo bien salir a caminar sin auriculares, solo escuchando la ciudad.', CAST(N'2025-10-06' AS Date), 1, 1)
INSERT [dbo].[Notas] ([Id], [IdPaciente], [IdDisparadora], [Titulo], [Descripción], [Fecha], [Favorito], [VisibleParaTerapeuta]) VALUES (2, 1, 4, N'Pequeños logros', N'Agradezco haberme animado a decirle que no a mi jefe sin sentir culpa. Me costó pero me sentí fuerte.', CAST(N'2025-10-14' AS Date), 0, 1)
INSERT [dbo].[Notas] ([Id], [IdPaciente], [IdDisparadora], [Titulo], [Descripción], [Fecha], [Favorito], [VisibleParaTerapeuta]) VALUES (3, 2, 3, N'Dejar el control', N'Intenté no planificar el finde y al principio me dio ansiedad, pero terminé disfrutando. Me sirvió soltar.', CAST(N'2025-09-29' AS Date), 1, 1)
SET IDENTITY_INSERT [dbo].[Notas] OFF
GO
SET IDENTITY_INSERT [dbo].[Obra Social] ON 

INSERT [dbo].[Obra Social] ([Id], [Nombre]) VALUES (1, N'OSDE')
INSERT [dbo].[Obra Social] ([Id], [Nombre]) VALUES (2, N'Swiss Medical')
INSERT [dbo].[Obra Social] ([Id], [Nombre]) VALUES (3, N'Galeno')
SET IDENTITY_INSERT [dbo].[Obra Social] OFF
GO
INSERT [dbo].[ObraSocialXTerapeuta] ([IdTerapeuta], [IdObraSocial]) VALUES (1, 1)
INSERT [dbo].[ObraSocialXTerapeuta] ([IdTerapeuta], [IdObraSocial]) VALUES (1, 4)
INSERT [dbo].[ObraSocialXTerapeuta] ([IdTerapeuta], [IdObraSocial]) VALUES (2, 2)
GO
SET IDENTITY_INSERT [dbo].[Paciente] ON 

INSERT [dbo].[Paciente] ([Id], [IdTerapeuta], [Nombre], [Apellido], [FechaNacimiento], [Telefono], [Ocupacion], [InicioTratamiento], [HorariosSesiones], [RasgosPersonalidad], [ModoVincularse], [EvaluacionGeneral], [Observaciones], [Correo], [Foto]) VALUES (3, 1, N'Martina', N'Gómez', CAST(N'2002-03-21' AS Date), 1158372940, N'Estudiante de arquitectura', CAST(N'2025-07-01' AS Date), 1, N'Creativa y ansiosa.', N'Tendencia a la autocrítica.', N'Buena adherencia a las tareas.', N'Se observa progreso en gestión emocional.', N'martina@thera.com', N'/img/pacientes/martina.webp')
SET IDENTITY_INSERT [dbo].[Paciente] OFF
GO
SET IDENTITY_INSERT [dbo].[Sesión] ON 

INSERT [dbo].[Sesión] ([Id], [IdTerapeuta], [IdPaciente], [Anotaciones], [Tarea], [RespuestaPaciente], [Fecha], [Modalidad]) VALUES (1, 1, 1, N'Camila llegó tranquila. Hablamos sobre su dificultad para poner límites en el trabajo. Se notó más consciente de sus emociones. Mostró avances en reconocer lo que siente sin juzgarlo.', N'Registrar durante la semana situaciones donde diga “sí” sin quererlo.', N'Anoté tres veces en las que lo hice. Me di cuenta de que puedo decir que no sin sentirme mala persona.', CAST(N'2025-09-30' AS Date), 1)
INSERT [dbo].[Sesión] ([Id], [IdTerapeuta], [IdPaciente], [Anotaciones], [Tarea], [RespuestaPaciente], [Fecha], [Modalidad]) VALUES (2, 1, 2, N'Franco habló de su autoexigencia. Se comparó con otros profesores. Trabajamos la validación interna. Mostró resistencia a bajar el ritmo.', N'Hacer una lista con tres cosas que disfruta fuera del trabajo.', N'Hice la lista y me sorprendió que todas eran cosas simples, como cocinar o mirar series.', CAST(N'2025-09-25' AS Date), 1)
INSERT [dbo].[Sesión] ([Id], [IdTerapeuta], [IdPaciente], [Anotaciones], [Tarea], [RespuestaPaciente], [Fecha], [Modalidad]) VALUES (3, 1, 3, N'Martina se mostró ansiosa por los exámenes. Hablamos sobre cómo organizar su tiempo sin sobrecargarse. Mostró predisposición a mejorar.', N'Planificar sus horarios de estudio dejando huecos para descanso.', N'Intenté hacerlo y me sirvió. No me sentí tan agotada.', CAST(N'2025-10-03' AS Date), 2)
SET IDENTITY_INSERT [dbo].[Sesión] OFF
GO
SET IDENTITY_INSERT [dbo].[Terapeuta] ON 

INSERT [dbo].[Terapeuta] ([Id], [Nombre], [Apellido], [FechaNacimiento], [Rating], [Descripcion], [Telefono], [Correo], [Foto], [FotoTitulo]) VALUES (1, N'Marta', N'Acquistapace', CAST(N'1983-06-12' AS Date), 4.8, N'Psicóloga con enfoque integrador, especializada en ansiedad y vínculos. Cercana y empática.', 1132548790, N'marta@thera.com', N'/img/marta.webp', N'Marta Acquistapace')
INSERT [dbo].[Terapeuta] ([Id], [Nombre], [Apellido], [FechaNacimiento], [Rating], [Descripcion], [Telefono], [Correo], [Foto], [FotoTitulo]) VALUES (2, N'Juan', N'Ibarra', CAST(N'1979-09-05' AS Date), 4.6, N'Terapeuta cognitivo-conductual. Trabaja con adultos jóvenes y deportistas.', 1129987610, N'juan@thera.com', N'/img/juan.webp', N'Juan Ibarra')
INSERT [dbo].[Terapeuta] ([Id], [Nombre], [Apellido], [FechaNacimiento], [Rating], [Descripcion], [Telefono], [Correo], [Foto], [FotoTitulo]) VALUES (3, N'Lucía', N'Ferrari', CAST(N'1986-02-22' AS Date), 4.9, N'Psicóloga sistémica, orientada a terapia de pareja y conflictos familiares.', 1145548832, N'lucia@thera.com', N'/img/lucia.webp', N'Lucía Ferrari')
SET IDENTITY_INSERT [dbo].[Terapeuta] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuario] ON 

INSERT [dbo].[Usuario] ([Id], [Username], [Contrasena], [TipoUsuario]) VALUES (1, N'martaacquistapace', N'mateverde', 1)
INSERT [dbo].[Usuario] ([Id], [Username], [Contrasena], [TipoUsuario]) VALUES (2, N'juanibarra', N'tango2024', 1)
INSERT [dbo].[Usuario] ([Id], [Username], [Contrasena], [TipoUsuario]) VALUES (3, N'luciaferrari', N'cafeconleche', 1)
SET IDENTITY_INSERT [dbo].[Usuario] OFF
GO
ALTER TABLE [dbo].[AudiosXPaciente]  WITH CHECK ADD  CONSTRAINT [FK_AudiosXPaciente_Audios] FOREIGN KEY([idAudio])
REFERENCES [dbo].[Audios] ([Id])
GO
ALTER TABLE [dbo].[AudiosXPaciente] CHECK CONSTRAINT [FK_AudiosXPaciente_Audios]
GO
ALTER TABLE [dbo].[AudiosXPaciente]  WITH CHECK ADD  CONSTRAINT [FK_AudiosXPaciente_Paciente] FOREIGN KEY([idPaciente])
REFERENCES [dbo].[Paciente] ([Id])
GO
ALTER TABLE [dbo].[AudiosXPaciente] CHECK CONSTRAINT [FK_AudiosXPaciente_Paciente]
GO
ALTER TABLE [dbo].[Chat]  WITH CHECK ADD  CONSTRAINT [FK_Chat_Paciente] FOREIGN KEY([IdPaciente])
REFERENCES [dbo].[Paciente] ([Id])
GO
ALTER TABLE [dbo].[Chat] CHECK CONSTRAINT [FK_Chat_Paciente]
GO
ALTER TABLE [dbo].[Chat]  WITH CHECK ADD  CONSTRAINT [FK_Chat_Terapeuta] FOREIGN KEY([IdTerapeuta])
REFERENCES [dbo].[Terapeuta] ([Id])
GO
ALTER TABLE [dbo].[Chat] CHECK CONSTRAINT [FK_Chat_Terapeuta]
GO
ALTER TABLE [dbo].[EspecialidadXTerapeuta]  WITH CHECK ADD  CONSTRAINT [FK_EspecialidadXTerapeuta_Especialidad] FOREIGN KEY([IdEspecialidad])
REFERENCES [dbo].[Especialidad] ([Id])
GO
ALTER TABLE [dbo].[EspecialidadXTerapeuta] CHECK CONSTRAINT [FK_EspecialidadXTerapeuta_Especialidad]
GO
ALTER TABLE [dbo].[EspecialidadXTerapeuta]  WITH CHECK ADD  CONSTRAINT [FK_EspecialidadXTerapeuta_Terapeuta] FOREIGN KEY([IdTerapeuta])
REFERENCES [dbo].[Terapeuta] ([Id])
GO
ALTER TABLE [dbo].[EspecialidadXTerapeuta] CHECK CONSTRAINT [FK_EspecialidadXTerapeuta_Terapeuta]
GO
ALTER TABLE [dbo].[FrasesFavPacientes]  WITH CHECK ADD  CONSTRAINT [FK_FrasesFavPacientes_Frases] FOREIGN KEY([IdFrase])
REFERENCES [dbo].[Frases] ([Id])
GO
ALTER TABLE [dbo].[FrasesFavPacientes] CHECK CONSTRAINT [FK_FrasesFavPacientes_Frases]
GO
ALTER TABLE [dbo].[FrasesFavPacientes]  WITH CHECK ADD  CONSTRAINT [FK_FrasesFavPacientes_Paciente] FOREIGN KEY([IdPaciente])
REFERENCES [dbo].[Paciente] ([Id])
GO
ALTER TABLE [dbo].[FrasesFavPacientes] CHECK CONSTRAINT [FK_FrasesFavPacientes_Paciente]
GO
ALTER TABLE [dbo].[FrasesFavTerapeuta]  WITH CHECK ADD  CONSTRAINT [FK_FrasesFavTerapeuta_Frases] FOREIGN KEY([IdFrase])
REFERENCES [dbo].[Frases] ([Id])
GO
ALTER TABLE [dbo].[FrasesFavTerapeuta] CHECK CONSTRAINT [FK_FrasesFavTerapeuta_Frases]
GO
ALTER TABLE [dbo].[FrasesFavTerapeuta]  WITH CHECK ADD  CONSTRAINT [FK_FrasesFavTerapeuta_Terapeuta] FOREIGN KEY([IdTerapeuta])
REFERENCES [dbo].[Terapeuta] ([Id])
GO
ALTER TABLE [dbo].[FrasesFavTerapeuta] CHECK CONSTRAINT [FK_FrasesFavTerapeuta_Terapeuta]
GO
ALTER TABLE [dbo].[Mensaje]  WITH CHECK ADD  CONSTRAINT [FK_Mensaje_Chat] FOREIGN KEY([IdChat])
REFERENCES [dbo].[Chat] ([Id])
GO
ALTER TABLE [dbo].[Mensaje] CHECK CONSTRAINT [FK_Mensaje_Chat]
GO
ALTER TABLE [dbo].[Mensaje]  WITH CHECK ADD  CONSTRAINT [FK_Mensaje_Paciente] FOREIGN KEY([IdPaciente])
REFERENCES [dbo].[Paciente] ([Id])
GO
ALTER TABLE [dbo].[Mensaje] CHECK CONSTRAINT [FK_Mensaje_Paciente]
GO
ALTER TABLE [dbo].[Mensaje]  WITH CHECK ADD  CONSTRAINT [FK_Mensaje_Terapeuta] FOREIGN KEY([IdTerapeuta])
REFERENCES [dbo].[Terapeuta] ([Id])
GO
ALTER TABLE [dbo].[Mensaje] CHECK CONSTRAINT [FK_Mensaje_Terapeuta]
GO
ALTER TABLE [dbo].[Notas]  WITH CHECK ADD  CONSTRAINT [FK_Notas_DisparadorasNotas] FOREIGN KEY([IdDisparadora])
REFERENCES [dbo].[DisparadorasNotas] ([Id])
GO
ALTER TABLE [dbo].[Notas] CHECK CONSTRAINT [FK_Notas_DisparadorasNotas]
GO
ALTER TABLE [dbo].[Notas]  WITH CHECK ADD  CONSTRAINT [FK_Notas_Paciente] FOREIGN KEY([IdPaciente])
REFERENCES [dbo].[Paciente] ([Id])
GO
ALTER TABLE [dbo].[Notas] CHECK CONSTRAINT [FK_Notas_Paciente]
GO
ALTER TABLE [dbo].[ObraSocialXTerapeuta]  WITH CHECK ADD  CONSTRAINT [FK_ObraSocialXTerapeuta_Obra Social] FOREIGN KEY([IdObraSocial])
REFERENCES [dbo].[Obra Social] ([Id])
GO
ALTER TABLE [dbo].[ObraSocialXTerapeuta] CHECK CONSTRAINT [FK_ObraSocialXTerapeuta_Obra Social]
GO
ALTER TABLE [dbo].[ObraSocialXTerapeuta]  WITH CHECK ADD  CONSTRAINT [FK_ObraSocialXTerapeuta_Terapeuta] FOREIGN KEY([IdTerapeuta])
REFERENCES [dbo].[Terapeuta] ([Id])
GO
ALTER TABLE [dbo].[ObraSocialXTerapeuta] CHECK CONSTRAINT [FK_ObraSocialXTerapeuta_Terapeuta]
GO
ALTER TABLE [dbo].[Paciente]  WITH CHECK ADD  CONSTRAINT [FK_Paciente_Terapeuta] FOREIGN KEY([IdTerapeuta])
REFERENCES [dbo].[Terapeuta] ([Id])
GO
ALTER TABLE [dbo].[Paciente] CHECK CONSTRAINT [FK_Paciente_Terapeuta]
GO
ALTER TABLE [dbo].[Paciente]  WITH CHECK ADD  CONSTRAINT [FK_Paciente_Usuario] FOREIGN KEY([Id])
REFERENCES [dbo].[Usuario] ([Id])
GO
ALTER TABLE [dbo].[Paciente] CHECK CONSTRAINT [FK_Paciente_Usuario]
GO
ALTER TABLE [dbo].[Resenas]  WITH CHECK ADD  CONSTRAINT [FK_Resenas_Paciente] FOREIGN KEY([IdPaciente])
REFERENCES [dbo].[Paciente] ([Id])
GO
ALTER TABLE [dbo].[Resenas] CHECK CONSTRAINT [FK_Resenas_Paciente]
GO
ALTER TABLE [dbo].[Resenas]  WITH CHECK ADD  CONSTRAINT [FK_Resenas_Terapeuta] FOREIGN KEY([IdTerapeuta])
REFERENCES [dbo].[Terapeuta] ([Id])
GO
ALTER TABLE [dbo].[Resenas] CHECK CONSTRAINT [FK_Resenas_Terapeuta]
GO
ALTER TABLE [dbo].[Sesión]  WITH CHECK ADD  CONSTRAINT [FK_Sesión_Paciente] FOREIGN KEY([IdPaciente])
REFERENCES [dbo].[Paciente] ([Id])
GO
ALTER TABLE [dbo].[Sesión] CHECK CONSTRAINT [FK_Sesión_Paciente]
GO
ALTER TABLE [dbo].[Sesión]  WITH CHECK ADD  CONSTRAINT [FK_Sesión_Terapeuta1] FOREIGN KEY([IdTerapeuta])
REFERENCES [dbo].[Terapeuta] ([Id])
GO
ALTER TABLE [dbo].[Sesión] CHECK CONSTRAINT [FK_Sesión_Terapeuta1]
GO
ALTER TABLE [dbo].[Terapeuta]  WITH CHECK ADD  CONSTRAINT [FK_Terapeuta_Usuario] FOREIGN KEY([Id])
REFERENCES [dbo].[Usuario] ([Id])
GO
ALTER TABLE [dbo].[Terapeuta] CHECK CONSTRAINT [FK_Terapeuta_Usuario]
GO
USE [master]
GO
