

<div class = "AyudaRapida">
<h1>Ayuda Rápida</h1>

<section>
    <section>
        <a href="@Url.Action("irRespiraciones", "Home")"><button>Respiración</button></a>
        <a href="@Url.Action("irFrases", "Home")"><button>Frases</button></a>
        <a href="@Url.Action("irAudios", "Home")"><button>Audios</button></a>
        <a href="@Url.Action("irChatIA", "Home")"><button>Chatbot</button></a>
    </section>
</section>

</div>

