
@{
    Layout= null;
    
}

 <main class="main-inicio">
        <div class="comenzar">
          <img src="Imagenes/Ave blanca.png" alt="">
          <button class="btn-comenzar">
            <a href='@Url.Action("irIndex", "Home")'>Comenzar</a>
          </button>
        </div>
      </main>