

<div class = "Diario">
        <h1>Diario</h1>
    <section class = "Nota">
        <div class="add-note-card mb-4">
            <h5>Añadir nota</h5>
            <a href="@Url.Action("AñadirNota", "Home")"><span class="plus-icon">+</span>
        </div>
        @if (ViewBag.diario != null)
        {
            foreach (Nota nota in ViewBag.diario)
            {
                <div class="note-card">
                    <div class="note-date">@nota.fecha</div>
                    <div class="note-title">@nota.titulo</div>
                    <div class="note-text">@nota.descripcion</div>
                </div>
            }
        }
        else
        { 
            <p class="text-muted">No hay notas disponibles.</p>
        }
    <section>
</div>
    
