
<div class = "Frases">

<h1>
    Frases
</h1>
<section class = "Frases">
    @foreach(Frase frase in ViewBag.Frases){
        <h1>"</h1>
        <h2>@frase.frase</h2>
        <h2>@frase.autor</h2>
        <h1>"</h1>
    }
</section>

</div>
