

<div class="home">
<img src=""> @*IMAGEN DEL FIGMA*@
@for (int i = 0; i < 2; i++)
{
    <div>

        <img src = "@terapeuta.foto">
        <h3>@terapeuta.nombre</h3>
        <p>@terapeuta.descripcion</p>
        
        
    </div>
}

</div>
