

<div>
<img src=""> @*IMAGEN DEL FIGMA*@
@foreach (var terapeuta in ViewBag.terapeutas)
{
    <div>

        @*<img src = "@ViewBag.terapeutas.foto">*@
        <h3>@ViewBag.terapeutas.nombre</h3>
        <p>@ViewBag.terapeutas.descripcion</p>
        
        
    </div>
}

</div>
