

<div>
<img src=""> @*IMAGEN DEL FIGMA*@
@foreach (Terapeuta terapeuta in ViewBag.terapeutas)
{
    <div>

        @*<img src = "@ViewBag.terapeutas.foto">*@
        <h3>@terapeuta.nombre</h3>
        <p>@terapeuta.descripcion</p>
        
        
    </div>
}

</div>
