@foreach(Paciente paciente in ViewBag.pacientes)
{
    <div class = "pacientesDeTerapeuta">

        <img src="/Imagenes/FotosPaciente/@paciente.foto" alt = "fotoPaciente">
        <p>@paciente.nombre</p>
        <a href = '#'></a>
        <a href = '#'></a>
        <a href = '#'></a>

    </div>
}