@{
    ViewData["Title"] = "Index";
}

<div class = "Inicio">
    <h1>Index</h1>
    <p>Bienvenidos al sitio web de NombreProyecto</p>
    <a href='@Url.Action("LoginView", "Account")'>Login</a>
    <a href='@Url.Action("RegistroView", "Account")'>Registrarse</a>
    <a href='@Url.Action("irHome", "Home")'>ir a home pq no hay base de datos todavia y no se puede login y registrar</a>
    <a href='@Url.Action("irAyudaRapida", "Home")'>ayuda rapida</a>

</div>
