@* @if(@ViewBag.nota.favorito != null && @ViewBag.nota.favorito){
    <img src="" alt="bookmark seleccionado">
} 
else{
    <img src="" alt="bookmark no seleccionado">
} *@
<form>

    <input type="text" value="@ViewBag.nota.titulo">
    <input type="text" value="@ViewBag.nota.descripcion"></textarea>

</form>