
<div class = "Respiraciones">

<h1>Ejercicios de respiración</h1>
<section class = "respiraciones">
    <div> 
        <img src="/Imagenes/Respiraciones/1.png" alt="Paso 1">
        <h2>Respirá hondo</h2>
    </div>
    <div> 
        <img src="/Imagenes/Respiraciones/2.png" alt="Paso 2">
        <h2>Mantené unos segundos</h2>
    </div>
    <div> 
        <img src="/Imagenes/Respiraciones/3.png" alt="Paso 3">
        <h2>Exhalá lentamente</h2>
    </div>
    <div> 
        <img src="\Imagenes\Respiraciones\4.png" alt="Paso 4">
        <h2>Repetí 3 veces</h2> 
    </div>
</section>

</div>
